<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-3.0.xsd" default-lazy-init="true">
    
    <!-- event definition -->
    <bean id="threadProcessor" class="com.legendshop.event.ThreadProcessor">
    	<property name="taskExecutor" ref="threadPoolExecutor"></property>
    </bean>
    
	<bean class="com.legendshop.event.EventListenerImpl">
		<property name="eventId" value="USER_REG" />
		<property name="processors">
			<list>
				<ref bean="userRegProcessor" />
			</list>
		</property>
		<property name="order" value="103"></property>
	</bean>
	
	<bean class="com.legendshop.event.EventListenerImpl">
		<property name="eventId" value="USER_REG" />
		<property name="processors">
			<list>
				<ref bean="userRegProcessor" />
			</list>
		</property>
		<property name="order" value="102"></property>
	</bean>
	
	<bean class="com.legendshop.event.EventListenerImpl">
		<property name="eventId" value="SEND_MAIL" />
		<property name="processors">
			<list>
				<ref bean="userRegProcessor" />
				<ref bean="sendMailProcessor" />
			</list>
		</property>
	</bean>
	
	<bean class="com.legendshop.event.EventListenerImpl">
		<property name="eventId" value="VISIT_LOG" />
		<property name="processors">
			<list>
				<bean class="com.legendshop.business.process.event.VisitLogProcessor"  parent="threadProcessor">
					<property name="visitLogService" ref="visitLogService"></property>
				</bean>
			</list>
		</property>
	</bean>	
	
	
	<bean id="sendMailProcessor" class="com.legendshop.business.process.event.SendMailProcessor" parent="threadProcessor" >
	</bean>
	
	<bean id="userRegProcessor" class="com.legendshop.business.process.event.UserRegProcessor"  />
</beans>
