<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-3.0.xsd" default-lazy-init="true">

	<!-- C O M M A N D   R E S O U R C E   D E F I N I T I O N S -->
	<bean id="FindRoleByFunction"
		class="com.legendshop.permission.command.FindRoleByFunction">
		<property name="dao">
			<ref bean="RoleDao" />
		</property>
	</bean>
	<bean id="SaveFunctionToRole"
		class="com.legendshop.permission.command.SaveFunctionToRole">
		<property name="dao">
			<ref bean="FunctionDao" />
		</property>
	</bean>
	
	<!-- 20070428 -->
	<bean id="IsUserExist"
		class="com.legendshop.permission.command.IsUserExist">
		<property name="dao">
			<ref bean="UserDao" />
		</property>
	</bean>

	<!-- 权限管理 -->
    <bean id="SaveFunction"
		class="com.legendshop.permission.command.SaveFunction">
		<property name="dao">
			<ref bean="FunctionDao" />
		</property>
	</bean>
	<bean id="DeleteFunctionById"
		class="com.legendshop.permission.command.DeleteFunctionById">
		<property name="dao">
			<ref bean="FunctionDao" />
		</property>
	</bean>
	<bean id="DeleteFunction"
		class="com.legendshop.permission.command.DeleteFunction">
		<property name="dao">
			<ref bean="FunctionDao" />
		</property>
	</bean>
	<bean id="UpdateFunction"
		class="com.legendshop.permission.command.UpdateFunction">
		<property name="dao">
			<ref bean="FunctionDao" />
		</property>
	</bean>
	<bean id="FindAllFunction"
		class="com.legendshop.permission.command.FindAllFunction">
		<property name="dao">
			<ref bean="FunctionDao" />
		</property>
	</bean>
	<bean id="FindFunctionById"
		class="com.legendshop.permission.command.FindFunctionById">
		<property name="dao">
			<ref bean="FunctionDao" />
		</property>
	</bean>
	
	<bean id="SaveRole"
		class="com.legendshop.permission.command.SaveRole">
		<property name="dao">
			<ref bean="RoleDao" />
		</property>
	</bean>
	<bean id="DeleteRoleById"
		class="com.legendshop.permission.command.DeleteRoleById">
		<property name="dao">
			<ref bean="RoleDao" />
		</property>
	</bean>
	<bean id="DeleteRole"
		class="com.legendshop.permission.command.DeleteRole">
		<property name="dao">
			<ref bean="RoleDao" />
		</property>
	</bean>
	<bean id="UpdateRole"
		class="com.legendshop.permission.command.UpdateRole">
		<property name="dao">
			<ref bean="RoleDao" />
		</property>
	</bean>
	<bean id="FindAllRole"
		class="com.legendshop.permission.command.FindAllRole">
		<property name="dao">
			<ref bean="RoleDao" />
		</property>
	</bean>
	<bean id="FindRoleById"
		class="com.legendshop.permission.command.FindRoleById">
		<property name="dao">
			<ref bean="RoleDao" />
		</property>
	</bean>
	<bean id="FindFunctionByRoleId"
		class="com.legendshop.permission.command.FindFunctionByRole">
		<property name="dao">
			<ref bean="FunctionDao" />
		</property>
	</bean>
    <bean id="FindOtherFunctionByRoleId"
		class="com.legendshop.permission.command.FindOtherFunctionByRoleId">
		<property name="dao">
			<ref bean="FunctionDao" />
		</property>
	</bean>
	<bean id="FindOtherFunctionByHql"
		class="com.legendshop.permission.command.FindOtherFunctionByHql">
		<property name="dao">
			<ref bean="FunctionDao" />
		</property>
	</bean>
	<bean id="DeletePermissionByRoleId"
		class="com.legendshop.permission.command.DeletePermissionByRoleId">
		<property name="dao">
			<ref bean="RoleDao" />
		</property>
	</bean>
	
	<bean id="SaveFunctionsToRole"
		class="com.legendshop.permission.command.SaveFunctionsToRole">
		<property name="dao">
			<ref bean="FunctionDao" />
		</property>
	</bean>
	<bean id="DeletePermissionByFunctionId"
		class="com.legendshop.permission.command.DeletePermissionByFunctionId">
		<property name="dao">
			<ref bean="FunctionDao" />
		</property>
	</bean>
	<bean id="FindAllUser"
		class="com.legendshop.permission.command.FindAllUser">
		<property name="dao">
			<ref bean="UserDao" />
		</property>
	</bean>
	<bean id="SaveRolesToUser"
		class="com.legendshop.permission.command.SaveRolesToUser">
		<property name="dao">
			<ref bean="RoleDao" />
		</property>
	</bean>
	<bean id="DeleteUserRoleByUserId"
		class="com.legendshop.permission.command.DeleteUserRoleByUserId">
		<property name="dao">
			<ref bean="UserDao" />
		</property>
	</bean>
	<bean id="DeleteUserRoleByRoleId"
		class="com.legendshop.permission.command.DeleteUserRoleByRoleId">
		<property name="dao">
			<ref bean="UserDao" />
		</property>
	</bean>
	<bean id="SaveUser"
		class="com.legendshop.permission.command.SaveUser">
		<property name="dao">
			<ref bean="UserDao" />
		</property>
	</bean>
	<bean id="UpdateUserPassowrd"
		class="com.legendshop.permission.command.UpdateUserPassowrd">
		<property name="dao">
			<ref bean="UserDao" />
		</property>
	</bean>
	<bean id="UpdateUser"
		class="com.legendshop.permission.command.UpdateUser">
		<property name="dao">
			<ref bean="UserDao" />
		</property>
	</bean>
	<bean id="DeleteFunctionsFromRole"
		class="com.legendshop.permission.command.DeleteFunctionsFromRole">
		<property name="dao">
			<ref bean="FunctionDao" />
		</property>
	</bean>
	<bean id="FindRoleByUserId"
		class="com.legendshop.permission.command.FindRoleByUserId">
		<property name="dao">
			<ref bean="RoleDao" />
		</property>
	</bean>
	<bean id="FindFunctionByUser"
		class="com.legendshop.permission.command.FindFunctionByUser">
		<property name="dao">
			<ref bean="FunctionDao" />
		</property>
		<property name="roleDao">
			<ref bean="RoleDao" />
		</property>
	</bean>
	<bean id="FindUserById"
		class="com.legendshop.permission.command.FindUserById">
		<property name="dao">
			<ref bean="UserDao" />
		</property>
	</bean>
	<bean id="DeleteRoleFromUser"
		class="com.legendshop.permission.command.DeleteRoleFromUser">
		<property name="dao">
			<ref bean="RoleDao" />
		</property>
	</bean>
	<bean id="FindOtherRoleByUser"
		class="com.legendshop.permission.command.FindOtherRoleByUser">
		<property name="dao">
			<ref bean="RoleDao" />
		</property>
	</bean>
</beans>
