<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- Message source for this context, loaded from localized "messages_xx" 
		files -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource"
		p:basename="messages" />

	<bean id="servicesManager" class="org.jasig.cas.services.DefaultServicesManagerImpl">
		<constructor-arg index="0" ref="serviceRegistryDao" />
	</bean>

	<bean id="httpClient" class="org.jasig.cas.util.HttpClient"
		p:readTimeout="5000" p:connectionTimeout="5000" />

	<bean id="persistentIdGenerator"
		class="org.jasig.cas.authentication.principal.ShibbolethCompatiblePersistentIdGenerator"
		p:salt="casrocks" />

	<!-- CentralAuthenticationService -->
	<!-- <bean id="centralAuthenticationService" class="org.jasig.cas.CentralAuthenticationServiceImpl" 
		p:ticketGrantingTicketExpirationPolicy-ref="grantingTicketExpirationPolicy" 
		p:serviceTicketExpirationPolicy-ref="serviceTicketExpirationPolicy" p:authenticationManager-ref="authenticationManager" 
		p:ticketGrantingTicketUniqueTicketIdGenerator-ref="ticketGrantingTicketUniqueIdGenerator" 
		p:ticketRegistry-ref="ticketRegistry" p:servicesManager-ref="servicesManager" 
		p:persistentIdGenerator-ref="persistentIdGenerator" p:uniqueTicketIdGeneratorsForService-ref="uniqueIdGeneratorsMap" 
		/> -->

	<bean id="proxy10Handler" class="org.jasig.cas.ticket.proxy.support.Cas10ProxyHandler" />

	<bean id="proxy20Handler" class="org.jasig.cas.ticket.proxy.support.Cas20ProxyHandler"
		p:httpClient-ref="httpClient" p:uniqueTicketIdGenerator-ref="proxy20TicketUniqueIdGenerator" />

	<!-- ADVISORS -->
	<bean id="advisorAutoProxyCreator"
		class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" />

	<bean id="validationAnnotationBeanPostProcessor"
		class="org.inspektr.common.ioc.validation.ValidationAnnotationBeanPostProcessor" />

	<!-- 以下为CAS服务端客户化实现定义的bean -->

	<!-- Define the data source -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${jdbc.driverClassName}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="minPoolSize" value="1" />
		<property name="maxPoolSize" value="5" />
		<property name="initialPoolSize" value="2" />
		<property name="maxIdleTime" value="60" />
		<property name="acquireIncrement" value="5" />
		<property name="maxStatements" value="0" />
		<property name="idleConnectionTestPeriod" value="60" />
		<property name="acquireRetryAttempts" value="30" />
		<property name="breakAfterAcquireFailure" value="true" />
		<property name="testConnectionOnCheckout" value="false" />
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!--Customized CentralAuthenticationService -->
	<bean id="centralAuthenticationService" class="com.legendshop.cas.auth.CentralAuthenticationServiceImpl"
		p:ticketGrantingTicketExpirationPolicy-ref="grantingTicketExpirationPolicy"
		p:serviceTicketExpirationPolicy-ref="serviceTicketExpirationPolicy"
		p:authenticationManager-ref="authenticationManager"
		p:ticketGrantingTicketUniqueTicketIdGenerator-ref="ticketGrantingTicketUniqueIdGenerator"
		p:ticketRegistry-ref="ticketRegistry" p:servicesManager-ref="servicesManager"
		p:persistentIdGenerator-ref="persistentIdGenerator"
		p:uniqueTicketIdGeneratorsForService-ref="uniqueIdGeneratorsMap"/>


	<bean id="serviceRegistryDao" class="com.legendshop.cas.dao.impl.ServiceRegistryDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
		<!-- Note these property should be consistent with the definition in bean 
			'attributeRepository' -->
		<property name="allowedAttributes">
			<list>
				<value>username</value>
				<value>authority</value>
				<value>phone</value>
				<value>email</value>
			</list>
		</property>
	</bean>
</beans>