
BODY {
	SCROLLBAR-FACE-COLOR: ##339933;
	BACKGROUND: ##339933;
	MARGIN: 0px;
	FONT: 12px 宋体;
	SCROLLBAR-HIGHLIGHT-COLOR: ##339933;
	SCROLLBAR-SHADOW-COLOR: ##339933;
	SCROLLBAR-3DLIGHT-COLOR: ##339933;
	SCROLLBAR-ARROW-COLOR: #ffffff;
	SCROLLBAR-TRACK-COLOR: ##339933;
	SCROLLBAR-DARKSHADOW-COLOR: ##339933;
	background-color: #ECF4EF;
}
TABLE {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
TD {
	FONT: 12px 宋体
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; VERTICAL-ALIGN: bottom; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
A {
	FONT: 12px 宋体; COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #428eff; TEXT-DECORATION: underline
}
.sec_menu {
	BORDER-RIGHT: white 1px solid; BACKGROUND: #d6dff7; OVERFLOW: hidden; BORDER-LEFT: white 1px solid; BORDER-BOTTOM: white 1px solid
}
.menu_title {
	
}
.menu_title SPAN {
	FONT-WEIGHT: bold; LEFT: 8px; COLOR: #215dc6; POSITION: relative; TOP: 2px
}
.menu_title2 {
	
}
.menu_title2 SPAN {
	FONT-WEIGHT: bold; LEFT: 8px; COLOR: #428eff; POSITION: relative; TOP: 2px
}
.chinese_text {
	FONT-SIZE: 9pt; FILTER: Blur(Add=0, Direction=0, Strength=0); FONT-FAMILY: Verdana,宋体
}
.style1 {color: #339933}
