legend {
	padding-left: 0;
}

legend,label {
	color: #333;
}

fieldset fieldset {
	background: none;
}



label.error, label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	color: red;
	font-style: italic
}
div.error { display: none; }
input:focus { border: 1px dotted black; }
input.error { border: 1px dotted red; }
form.indexJpgForm .gray * { color: gray; }