#overlay {
    background-image:url('../../img/overlay_IE6.gif');
    color:#fff;
}


/* default close button positioned on upper right corner */
div.overlay div.close {
    background-image:url('../../img/overlay_close_IE6.gif');
    position:absolute;
    right:5px;
    top:5px;
    cursor:pointer;
    height:35px;
    width:35px;
}

div.apple_overlay {
    background-image:url('../../img/overlay_IE6.gif');
    color:#fff;
}

div.apple_overlay div.close {
    background-image:url('../../img/overlay_close_IE6.gif');

}   