<?xml version="1.0" encoding="UTF-8"?>
<!-- edited by Hewq (Bingo) -->
<!-- 
   用法如下：
  2、在{之后紧跟！表示这个条件即使没有传值过来就采用默认值"",如果带有||则将||之前的作为默认值
  3、如果{之后不跟!,表示如果不传值的话这个条件忽略
  4、用$$括起来的参数（key）将会用parameterMap中的value代替
  5、采用objectName.MethodName作为key放在parameterMap中
 -->
<DataAccessLayer>
	<BusinessObjects>
		<Object objectName="config">
			<!-- #jetty配置 -->
			<Method name="webDir">./WebContent</Method>
			<Method name="path">/</Method>
			<Method name="port">8081</Method>
			<Method name="LowThread">50</Method>
			<Method name="MinThread">30</Method>
			<Method name="MaxThread">200</Method>
			<!-- webservice地址 -->
			<Method name="WSDL_LOCATION">http://localhost:8081/services/legendShopService?wsdl</Method>
		</Object>
	</BusinessObjects>
</DataAccessLayer>
